{% extends 'admin_control_panel.html' %}

{% block subcontent %}
<br></br>
  <form method="post" style="margin-bottom: 20px;">
    {% csrf_token %}
    <label for="semestar_choice" style="margin-right: 10px;">Select Semester:</label>
    <select name="semestar_choice" id="semestar_choice" style="padding: 5px;">
      <option value="1">Semester 1</option>
      <option value="2">Semester 2</option>
      <option value="3">Semester 3</option>
      <option value="4">Semester 4</option>
      <option value="5">Semester 5</option>
      <option value="6">Semester 6</option>
      <option value="7">Semester 7</option>
      <option value="8">Semester 8</option>
    </select>
  <br></br>
    <button type="submit" style="padding: 5px 10px; background-color: #4CAF50; color: white; border: none;">Select</button>
  </form>
{% endblock %}
