{% extends 'base.html' %}

{% block content %}
  <h4>Student</h4>

  <div class="logout" style="margin-top: 10px;">
    <form action="{% url 'logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout" style="padding: 5px 10px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">
    </form>
  </div>

  {% if messages %}
    <ul class="messages" style="list-style: none; padding: 0;">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="subcontent">
    <h1>Upisni List</h1>
    <h3>{{ student.first_name }} {{ student.last_name }}</h3>
    <a href="{% url 'create_upisni_list_student' %}" style="text-decoration: none; background-color: #4CAF50; color: white; padding: 5px 10px; border-radius: 4px; margin-bottom: 10px; display: inline-block;">Create upisni list</a>
  
    {% for semester in semesters %}
      <h2>Upisni list for semester {{ semester.semester }}</h2>
      <table style="width: 100%; border-collapse: collapse;">
        <thead>
          <tr>
            <th style="padding: 10px; background-color: #f5f5f5; border-bottom: 1px solid #ddd;">Predmet</th>
            <th style="padding: 10px; background-color: #f5f5f5; border-bottom: 1px solid #ddd; text-align: center;">Status</th>
            <th style="padding: 10px; background-color: #f5f5f5; border-bottom: 1px solid #ddd; text-align: center;">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for upisni in student.upisni_list.all %}
            {% if upisni.semester == semester.semester %}
              <tr>
                <td style="padding: 10px; border-bottom: 1px solid #ddd;">{{ upisni.predmet.name }}</td>
                <td style="padding: 10px; border-bottom: 1px solid #ddd; text-align: center;">{{ upisni.get_status_display }}</td>
                <td style="padding: 10px; border-bottom: 1px solid #ddd; text-align: center;"><a href="{% url 'delete_upisni_list_entry' upisni.id%}" style="text-decoration: none; background-color: #f44336; color: white; padding: 5px 10px; border-radius: 4px;">Odjavi predmet</a></td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
  {% block subcontent%}
  {% endblock %}
{% endblock %}
